body {
    margin: 0;
    padding: 0;
    width: 100%;
}
.form{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text{
    width: 60%;
}
fieldset, label { margin: 0; padding: 0; }

/****** Style Dollar Widget *****/
.money, .rating, .rest_rating { 
    border: none;
    float: left;
}

.money > input, .rating > input { display: none; } 
.money > label:before { 
    margin: 5px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f155";
}

.money > label, .rating > label { 
    color: #edebe9; 
    float: right; 
}

/***** CSS Magic to Highlight Dollars on Hover *****/
.money > input:checked ~ label,
.money:not(:checked) > label:hover,
.money:not(:checked) > label:hover ~ label { color: #85bb65;  }

.money > input:checked + label:hover,
.money > input:checked ~ label:hover,
.money > label:hover ~ input:checked ~ label, 
.money > input:checked ~ label:hover ~ label { color: #85bb65;  } 

/****** Style Star Rating Widget *****/
.rating > label:before { 
    margin: 5px;
    font-size: 1.25em;
    display: inline-block;
} 
  
.rating > .fas.fa-star-half-alt:before { 
    position: absolute;
}
  
/***** CSS Magic to Highlight Stars on Hover *****/
.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 

.helper{
    padding-bottom: 20px;
}
.cost{
    padding-bottom: 10px;
}
.helper, .cost{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.submit{
    width: 60%;
    display: flex;
    justify-content: flex-end;
}

.fav{
    color: #edebe9;
}

.fav-highlight{
    color: #fff15c;
}

@media only screen and (max-width: 600px){
    .cost{
        flex-direction: column;
        align-items: flex-start;
    }
    .money > label:before, .rating > label:before, .rating > .half:before {
        margin: 2px;
        font-size: 1.0em;
    }
}


/* List modification */
.mdc-card{
    width: 80%;
    margin-bottom: 10px;
    margin-top: 10px;
}
.list, .favorites{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image{
    float:left;
    height: 110px;
    width: 100px;
    border-radius: 5px;
}

.carryout, .delivery, .reservation{
    margin-bottom:20px;
    color: white;
    background-color: red;
    padding: 5px;
    border-radius: 5px;
    font-size: 10px;
    font-family: 'Varela Round', sans-serif;
}

.rest_rating{
    margin-left:15px;
}

.rest_rating > .fas.fa-star-half-alt:before { 
    position: absolute;
}
  
.rest_rating > label { 
    color: #ddd; 
    float: right; 
}

h2.mdc-typography.mdc-typography--headline6{
    margin-top: 5px;
    padding:0;
    margin-bottom: 0;
    margin-left:110px;
}

.location{
    display: flex;
    flex-direction: row;
}
.restLoc{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}
.city{
    padding:0;
    margin:0;
    font-size:14px;
}
.addr{
    color:#878482;
    padding:0;
    margin:0;
    font-size: 10px;
}
.phone{
    margin-top:2px;
    margin-bottom:0;
    margin-left:115px;
    padding:0;
}

/* .mdc-card.template{
    display: none;
} */

/* Map modification */
#map{
    height: 80vh;
}

/* Weather modification */
.weather, .future-forecast{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.weather{
    height:100vh;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 20px;
}
.current-weather, .mdc-card.weather-card{
    margin: 10px;
    height:200px;
    width:200px;
}
.mdc-card__media, .mdc-card-wrapper__text-section{
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#time,#time2,#time3,#time4{
    padding:0;
    margin: 0;
    padding-top:5px;
    padding-left:5px;
}

#summary, #summary2, #summary3, #summary4{
    padding:0;
    margin:0;
}
#temp, #temp2, #temp3, #temp4{
    padding:0;
    margin:0;
}

img{
    height:50px;
    width:50px;
}

